body {
  height: 50em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
  height: 5em;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: right;
  background-color: rgb(243, 243, 243);
 /*box-shadow: 3px 3px 10px rgb(61, 61, 61); */
}

.profile-img {
  position: relative;
  float: right;
  width: 5%;
}

.profile-img > a > img {
  margin-right: 2em;
  height: 4em;
  padding-top: 0.5em;
}

.profile-dropdown {
  position: absolute;
  display: none;
  right: 0em;
  top: 5em;
  background-color: white;
  box-shadow: 3px 3px 10px rgb(221, 221, 221);
  min-width: 180px;
  height: 3em;
  padding: 12px 16px;
  z-index: 1;
}

.profile-img:hover .profile-dropdown {
  display: block;
}

.logo {
  float: left;
  padding-left: 5em;
  padding-top: 0.5em;
  
}

.side-nav {
  font-size: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  color: white;
  padding: 1.5em;
  border-bottom: 1px solid white;
  background-color:rgb(216, 216, 216);
}

.side-dropdown {
  display: none;
}

.container {
  margin-top: 5em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-banner {
  height: 90%;
  width: 70%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 2em;
  display: block;
  
}

.profile-spacer {
  width: 10%;
  
}

.search-bar {
  align-self: center;
  flex-grow: 1;
}
.search-container{
  background-color: rgb(129, 127, 127);
  padding: 3em;
  margin-top: 3em;
}
.search-form {
  text-align: center;
  margin: 10em 0em 10em 25%;
  width: 50%;
  
}
.search-city{
width: 70%;
}
.board-content {
  height: 50em;
  width: 50%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

#post {
  align-self: center;
  text-align: center;
  width: 100%;
}

.thread-container {
  text-align: center;
}

.thread-container > div {
  display: inline-block;
  margin: 1em 2em;
  height: 330px;
  width: 182px;
  word-wrap: break-word;
  overflow: hidden;
}

.thread-container > div > a > img {
-webkit-box-shadow: 0px 3px 6px 0px rgba(105, 105, 105, 0.35);
-moz-box-shadow:    0px 3px 6px 0px rgba(105, 105, 105, 0.35);
box-shadow:         0px 3px 6px 0px rgba(105, 105, 105, 0.35);
  height: 200px;
  width: 180px;
  margin-bottom: 1px;
}

.preview{
  margin-top:1em;
}
#board #ps-1 {
  border-right: 0.1em white;
  background-color: white;
}

.profile-spacer + .profile-spacer {
  margin-left: 2%;
}

#ps-2 {
  text-align: center;
  width: 10%;
}

#board #ps-2 {
  width: 0%;
}

footer {
  background-color:rgb(243, 243, 243);
  color: grey;
  padding: 1em;
}

/*!!!!!!!!!!!!*/
/* Login Form */

  .login {
  text-align: center;
  margin: 20px auto;
  width: 20%;
  padding: 50px;
  

  }
  .loginbutton{
    border: none;
    text-decoration: none;
    color: #878787;
    padding: 15px 32px;
    text-align: center;
  }
  .loginbutton:visited{
    color: #29ABE2;
  }
  .login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
  }
  
  .app-title {
  text-align: center;
  padding: 2em;
  color: #777;
  font-weight: bold;
  }
  
  .login-form {
  text-align: center;
  }
  .control-group {
  margin-bottom: 10px;
  }
  
  input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
  }
  
  input:focus {
  border: 2px solid #FFB240;
  box-shadow: none;
  }
  
  .btn {
    border: 2px solid transparent;
    background: #29ABE2;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  
  .btn:hover {
    background-color: rgb(37, 128, 167);
  }
  
  .login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
  }
  /* !!!!!!!!*?
  /* Profile */
  .profile {
    text-align: center;
    margin: 10px auto;
    width: 50%;
    padding: 50px;
    display: flex;
    color: grey;
  
    }
  .left-profile{
    flex-basis: 30%;
    width: 20%;
margin-top: 15em;
color: grey;
align-items: center;
  }
.right-profile{
 margin-left: 10em;
  margin-top: 10em;
  flex-basis: 30%;

}
  
  .profile-info{
    padding: 1em;
    text-align: left;
  }
 
  .profile-photo{
   
  }
  figcaption{
    padding: 1em;
  }
  .name h1{
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 1em;
    color: grey;
  }
  .info-title{
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 1em;
  }
  .info-content{
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 1em;
    width: 100%;
    margin-left: 1em;
    text-align: left;
  }